THRESHOLDS 8 10.0 13.0 30.0 65.0 118.0 182.0 245.0 301.0	# <size_t> number of thresholds, list of their <double> PGA values
TEMPLATE_DIRECTORY /opt/seiscomp/share/FinDer/config/Templates_PGA_20170117_20km_MBR2017_interface_resolution_5_asymmetric #/home/sysop/seiscomp3/share/FinDer/Templates_PGA_20160823_CH2009_resolution_5  # <string> [local directory] for generic templates 
TEMPLATE_ID_FILE  /opt/seiscomp/share/FinDer/config/template.config			# <string> list of generic + fault-specific templates IDs uploaded into FinDer
D_DEG  5								    # <double> delta degrees in strike search
MIN_DEG  -90.0								# <double> minimum strike angle to search over
MAX_DEG  0.0								# <double> maximum strike angle to search over
MIN_LENGTH  0.0								# <double> minimum rupture length to search over
MAX_LENGTH  600.0							# <double> maximum rupture length to search over
DEFAULT_DEPTH  20.0							# <double> default depth for the earthquake source...this has no effect on FinDer calculation
DEFAULT_DEPTH_UNCER 5.0						# <double> default depth uncertainty for the earthquake source...no effect on calculation
MAG_OPTION  2								# <int> 1 for Wells and Coppersmith (e.g. CA) and 2 for Blaser (e.g. JP)
RUN_SPEED fast            					# <string> "complete" or "fast"
REGIONAL_MASK  no_mask  		# <string> [filename], "calculate" to generate a mask, "no_mask" if no mask
MASK_STATION_DISTANCE 100 #50.0					# <double> [m] When calculating the mask, what is the max distance between stations
MIN_TRIGGER_STATIONS 3                      # <size_t> minimum number of stations needed to trigger FinDer, minimum of 1
TRIGGER_RADIUS 150.0                         # <double> the maximum radius between trigger stations
USE_FIXED_TRIGRAD no                       # <string> switch for using station specific triggering radius
MAX_STATION_TRIGRAD 150.                    # <double> max value (km) for station specific triggering radius
SECONDARY_NETWORKS 2 CE CSN                  # <size_t> number of networks, list of their <string> network codes
BORDER_DEGREES 3.0							# <double> minimum 1.0, minimum degrees border around image
IMAGE_PIXELS 10							# <size_t> values > 0, number of pixels that have to pass the threshold to use the threshold
MAX_IMAGE_PIXELS 50						# <size_t> values > 0, number of pixels that have to pass to move up a threshold
MIN_LIKELIHOOD_ESTIMATE_FOR_MESSAGE  0.65   # <double> value > 0.0, the minimum likelihood value for an estimate
SIGMA_LENGTH  1.0									# <double> value > 0.0, related to the misfit calculations
SIGMA_AZIMUTH 1.0							# <double> value > 0.0, related to the misfit calculations
SIGMA_LATLON  1.0							# <double> value > 0.0, related to the misfit calculations
MAX_RUPTURES 30                             # <size_t> the max # of ruptures FinDer outputs for generic templates, min of 1
GMT_API_OPTION yes                          # <string>  "yes" or "no" for using the GMT 5.2.0 API
GMT_PREFIX gmt								# <string> "gmt" for GMT 5.0, "---" for blank in front of gmt commands
GMT_PLOT no                                 # <string> "yes" or "no" for creating gmt_plots for offline testing
COLOR_SCALE /opt/seiscomp/share/FinDer/config/gmt_input/log_pga_wald.cpt   	    # <string> [filename]
FAULT_DEFINITIONS /opt/seiscomp/share/FinDer/config/gmt_input/jennings.xy     # <string> [filename]
STATION_CONFIG ---         # <string> [filename] station specific thresholds
GMT_FOLDER /opt/seiscomp/share/FinDer/config/gmt_input							# <string> [foldername]
MAG_REGRESSION_THRESH 5.5
DATA_FOLDER /opt/seiscomp/share/FinDer/output/20asym 				# <string> [foldername] place to put temp and temp_dir folders
USE_FIXED_TRIGRAD no                        # <string> switch for using station specific triggering radius
MAX_STATION_TRIGRAD 100.                    # <double> max value (km) for station specific triggering radius
STOP_LENGTH_DECREASE_PC 0.2
RESTART_LENGTH_INCREASE_PC 0.0001
UNCERTAINTY_METHOD 0
