# Registration of the host profiles defining the connection parameters to the
# QuakeLink hosts.
hosts = local

# Map datamodel class names to messaging groups. For unmapped objects the
# mapping of their parent objects is evaluated recursively. Objects may be
# excluded by mapping them to 'NULL'.
host.local.routingTable = Pick:IMPORT_GROUP,\
   Amplitude:IMPORT_GROUP,\
   FocalMechanism:IMPORT_GROUP,\
   Origin:IMPORT_GROUP,\
   Magnitude:IMPORT_GROUP

host.local.native = true
