# Defines a list of message groups to subscribe to. The default is usually
# given by the application and does not need to be changed. 
connection.subscriptions = PICKN,PICK,LOCATION,LOCATIONN,LOCATIONAN,MAGNITUDE,EVENT

# Directory to save reports to.
report.directory = @LOGDIR@/EEW_reports

# A list of email addresses that receive the report emails.
email.recipients = fmassin@sed.ethz.ch,billyburgoa@yahoo.com,camilo.sismo@gmail.com

#ActiveMQ - enable or disable
ActiveMQ.activate = false
