# Defines the primary group of a module. This is the name of the group where a
# module sends its messages to if the target group is not explicitely given in
# the send call.
connection.primaryGroup = LOCATIONN

# Defines a list of message groups to subscribe to. The default is usually
# given by the application and does not need to be changed.
connection.subscriptions = PICKN, AMPLITUDE

# The locator might converge at a depth of 0 or even negative depths. This is
# usually not desired, as 0 km might be interpreted as indicative of e.g. a
# quarry blast or another explosive source. In the case of "too shallow"
# locations the minimum depth will be used.
# Note that the minimum depth can also be configured in scolv, possibly to a
# different value.
locator.minimumDepth = 1

# Max. permissible RMS for a location to be reported.
autoloc.maxRMS = 2

# Max. individual residual (unweighted) for a pick to be used in locationMax.
# permissible RMS for a location to be reported.
autoloc.maxResidual = 4

# Stations outside the maximum distance range are ignored.
autoloc.maxStationDistance = 5

# If this string is non-empty, an amplitude obtained from an amplitude object
# is used by ... . If this string is "mb", a period obtained from the amplitude
# object is also used; if it has some other value, then 1 [units?] is used. If
# this string is empty, then the amplitude is set to 0.5 * thresholdXXL, and 1
# [units?] is used for the period.
autoloc.amplTypeAbs = snr

# Parameter "a" in the equation t = aN + b. t is the time interval between
# sending updates of an origin. N is the arrival count of the origin.
autoloc.publicationIntervalTimeSlope = 0.

# Parameter "b" in the equation t = aN + b. t is the time interval between
# sending updates of an origin. N is the arrival count of the origin.
autoloc.publicationIntervalTimeIntercept = 4.
